/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.container {
  max-width: 1210px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

p, span, a, li, h1, h2, h3, h4, h5, h6 {
  font-family: "Lab Grotesque";
}

.body {
  font-family: "Lab Grotesque";
  background-color: #fff;
  color: #222733;
}

html {
  font-size: 10px;
}

.input {
  width: 100%;
  padding: 30px 32px;
  background-color: #fff;
  border-radius: 12px;
  font-family: "Lab Grotesque";
  font-size: 20px;
  font-weight: 300;
}

.input::-webkit-input-placeholder {
  color: #222733;
}

.input::-moz-placeholder {
  color: #222733;
}

.input:-ms-input-placeholder {
  color: #222733;
}

.input::-ms-input-placeholder {
  color: #222733;
}

.input::placeholder {
  color: #222733;
}

p.title {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: #222733;
}

p.title--secondary {
  color: rgba(255, 255, 255, 0.8);
}

h1 {
  font-size: 7.2rem;
  font-weight: 500;
  line-height: 7.2rem;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.8rem;
  color: #222733;
}

h2.title--white {
  color: #fff;
}

.button {
  display: inline-block;
  padding: 21px 0;
  text-align: center;
  color: #000;
  background-color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Lab Grotesque";
  width: 280px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #4b5670;
}

.button.button--secondary {
  background-color: #222733;
  color: #fff;
}

.button.button--secondary:hover {
  background-color: #4b5670;
}

button {
  font-family: "Lab Grotesque";
}

.disable {
  display: none;
}

.footer__images, .footer__links, .footer__nav, .feedback .range-input__wrapper__line, .feedback .feedback_button, .about__stat, .about__description, .header__request, .header__blocks, .nav__main ul, .nav__main, .nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1170px) {
  .drinks__buttons {
    margin-bottom: -40px;
  }
}
@media screen and (max-width: 1050px) {
  .drinks__buttons {
    margin-bottom: -50px;
  }
}
.nav {
  font-size: 1.4rem;
  margin-bottom: 24%;
}
.nav__top {
  margin-bottom: 1.6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__main {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__main ul li:not(:last-child) {
  margin-right: 4rem;
}
.nav__main ul li {
  font-size: 1.8rem;
  font-weight: 500;
}
.nav address {
  color: rgba(255, 255, 255, 0.8);
}

.link-element {
  vertical-align: middle;
  margin-left: 0.8rem;
}

.phone-number {
  margin-right: 2rem;
}

.header {
  background-image: url("../img/bg-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #10151F;
  color: #fff;
  padding: 32px 0 120px 0;
}
.header__blocks {
  gap: 30px;
}
.header__text {
  max-width: 870px;
}
.header__request {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header p.description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  line-height: 2.5rem;
}
.header .main-title {
  margin: 16px 0 20px 0;
}

.about {
  margin: 140px 0;
}
.about .container {
  position: relative;
}
.about__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__text {
  max-width: 870px;
  margin-bottom: 80px;
}
.about__description {
  gap: 8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px 0;
}
.about__description p {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.5rem;
  text-align: left;
}
.about__left, .about__right {
  max-width: 400px;
}
.about__stat {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__block {
  max-width: 180px;
}
.about__block span:nth-child(1) {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 5.3rem;
  vertical-align: middle;
  margin-right: 1.6rem;
}
.about__block span:nth-child(2) {
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.4rem;
  color: #545E76;
  vertical-align: middle;
}
.about__block p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.2rem;
  text-align: left;
}

.services {
  padding-top: 120px;
  margin-bottom: 370px;
  position: relative;
  height: 676px;
  background-image: url("../img/services-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #121925;
}
.services h2 {
  margin-bottom: 20px;
}
.services__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}
.services__description {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.4rem;
  text-align: left;
  color: #fff;
}
.services__text {
  max-width: 870px;
}
.services .swiper {
  position: relative;
  background-color: #fff;
  bottom: -25%;
  -webkit-box-shadow: 0 24px 60px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 0 24px 60px 1px rgba(0, 0, 0, 0.12);
  max-width: 1180px;
  width: 100%;
}
.services .swiper .swiper-slide {
  position: static;
}
.services .swiper .swiper-wrapper {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1180px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.drinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1180px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.drinks .drinks__image {
  min-width: 502px;
  width: 100%;
  max-width: 700px;
  max-height: 496px;
}
.drinks .drinks__description {
  padding: 20px 68px;
  max-width: 344px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.drinks .drinks__title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.2rem;
  margin-bottom: 16px;
}
.drinks .drinks__cost {
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  color: #999999;
  margin-bottom: 48px;
}
.drinks .drinks__text {
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  font-size: 14px;
  margin-bottom: 32px;
}

.drinks__buttons {
  position: absolute;
  bottom: 80px;
  left: 68px;
}

.swiper-button-prev {
  margin-right: 8px;
}

.swiper-button-prev, .swiper-button-next {
  position: static;
  display: inline-block;
  height: auto;
  width: auto;
}

.swiper-button-next::after, .swiper-button-prev::after {
  display: none;
}

.chef {
  margin: 160px 0;
}

.chef__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chef__photo {
  min-width: 300px;
}

.chef__quote {
  max-width: 607px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chef__quote-text {
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
}

.chef__chef-cook span {
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
}
.chef__chef-cook b {
  font-size: 26px;
  line-height: 34px;
}

@media screen and (max-width: 1170px) {
  .chef__chef-cook span {
    font-size: 14px;
    line-height: 18px;
  }
  .chef__chef-cook b {
    font-size: 18px;
    line-height: 34px;
  }
}
@media screen and (max-width: 1048px) {
  .chef__quote-text {
    font-size: 26px;
    line-height: normal;
  }
}
@media screen and (max-width: 1048px) {
  .chef__quote-text {
    font-size: 20px;
  }
}
.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video__image {
  position: relative;
}

.video__sound-icon-off {
  position: absolute;
  bottom: 8.333%;
  left: 4.16%;
}

.advantages {
  margin: 140px 0;
}
.advantages h2 {
  margin-bottom: 9%;
}
.advantages__block {
  max-width: 880px;
}
.advantages__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantages__card {
  width: 43.2%;
  font-family: Lab Grotesque;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 7.7%;
}
.advantages__card img {
  margin-bottom: 20px;
}
.advantages__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.klients {
  padding: 160px 0 0 0;
  margin-bottom: 694px;
  position: relative;
  background-color: #F3F5F8;
}
.klients .slider {
  overflow: hidden;
  position: absolute;
  bottom: -50%;
  margin-left: -40px;
  -webkit-transform: translateY(18%);
          transform: translateY(18%);
  padding: 40px;
}
.klients .slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.klients #slider-slide4 {
  max-width: 480px;
}
.klients .slider-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.klients .slider__text {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 20px;
  padding-top: 0;
  margin-left: -20px;
}
.klients .slider__image.slider__image--border {
  border-radius: 20px 20px 0 0;
}
.klients .slider__text.slider__text--margin {
  margin: 0;
}
.klients .slider-slide:hover {
  scale: 1.05;
  -webkit-box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.116);
          box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.116);
  border-radius: 20px;
}
.klients .klients__wrappper-swiper img {
  margin-bottom: 32px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.klients .klients__wrappper-swiper p > time {
  font-size: 18px;
  font-weight: 300;
  background-color: rgba(84, 94, 118, 0.12);
  padding: 8px 16px;
  border-radius: 50px;
}
.klients .klients__wrappper-swiper p > b {
  font-size: 26px;
  font-weight: 700;
}
.klients .klients__wrappper-swiper p:last-child {
  font-size: 20px;
  font-weight: 300;
  opacity: 60%;
}
.klients .klients__wrappper-swiper p:not(:last-child) {
  margin-bottom: 24px;
}

.klients__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.klients__text {
  max-width: 870px;
}
.klients__text h2 {
  margin-bottom: 60px;
}

.klients__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.klients__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 320px;
}

.media-about-us {
  padding: 140px 0;
  width: 100%;
  height: 741px;
  color: #fff;
  background-image: url("../img/bg-about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #494447;
}
.media-about-us__text {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 10%;
}
.media-about-us__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.media-about-us__buttons {
  position: absolute;
  right: 0;
  bottom: 0px;
}
.media-about-us p.title {
  color: #fff;
}
.media-about-us .swiper {
  position: relative;
  width: 880px;
  height: auto;
  margin: 0;
}
.media-about-us .swiper-wrapper {
  position: static;
}
.media-about-us .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.media-about-us .swiper-slide > img {
  margin-bottom: 40px;
}
.media-about-us .swiper .swiper-button-prev {
  position: static;
}
.media-about-us .swiper .swiper-button-next {
  position: static;
}

.media-logo {
  font-size: 50px;
  font-weight: bold;
}

.dot {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(84, 94, 118, 0.1215686275);
  border-radius: 50%;
  font-family: "Lab Grotesque";
}

.feedback__dot.feedback__dot--active {
  color: rgb(34, 39, 51);
}

.feedback__dot--active .dot {
  background-color: rgb(34, 39, 51);
  color: #fff;
}

.feedback {
  padding: 140px 0 160px 0;
  background-color: #F3F5F8;
}
.feedback__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-bottom: 60px;
}
.feedback__dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  color: rgba(34, 39, 51, 0.5);
  font-size: 20px;
  font-weight: 500;
}
.feedback__form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feedback__form-wrapper .feedback-form-first-block {
  width: 66.1%;
}
.feedback__event-format {
  margin-bottom: 20px;
}
.feedback__event-format > p {
  font-size: 20px;
  font-weight: 300;
  color: #222733;
  opacity: 80%;
  margin-bottom: 20px;
}
.feedback__event-format-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.feedback__event-format-buttons button {
  font-weight: 400;
  font-size: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 14px 24px;
  border-radius: 50px;
  background-color: rgba(84, 94, 118, 0.1215686275);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.feedback__event-format-buttons button.button--secondary {
  background-color: #222733;
  color: #fff;
}
.feedback__event-format-buttons button:hover {
  background-color: #222733;
  color: #fff;
}
.feedback__event-format-buttons button:active {
  background-color: #4b5670;
}
.feedback .feedback_button {
  gap: 44px;
}
.feedback .feedback_button p {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: #222733;
  opacity: 50%;
}
.feedback .feedback_button a {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.feedback__form input[type=text]::-webkit-input-placeholder {
  color: #000;
}
.feedback__form input[type=text]::-moz-placeholder {
  color: #000;
}
.feedback__form input[type=text]:-ms-input-placeholder {
  color: #000;
}
.feedback__form input[type=text]::-ms-input-placeholder {
  color: #000;
}
.feedback__form input[type=text]::placeholder {
  color: #000;
}
.feedback__form .input {
  margin-bottom: 24px;
}
.feedback__form-title {
  font-size: 40px;
  font-weight: 700;
  color: #222733;
  margin-bottom: 44px;
}
.feedback .range-input {
  position: relative;
  margin: 0;
}
.feedback .range-input__wrapper {
  margin-bottom: 24px;
}
.feedback .range-input__wrapper__line {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 11px;
  font-size: 18px;
  font-weight: 400;
  color: #222733;
  opacity: 40%;
}
.feedback .range-input input[type=range] {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 3px;
}
.feedback .range-input input[type=range]::-webkit-slider-thumb {
  background-color: #545E76;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
          appearance: none;
  margin-top: -8px;
}
.feedback .range-input input::-webkit-slider-runnable-track {
  height: 5px;
  background-color: #ffffff;
  border-radius: 12px;
  -webkit-box-shadow: inset 0 0 5px rgb(216, 216, 216);
          box-shadow: inset 0 0 5px rgb(216, 216, 216);
}
.feedback .range-input input::-webkit-range-progress {
  -webkit-appearance: none;
          appearance: none;
  background-color: #545E76;
}
.feedback .input input[date], .feedback .input select {
  font-weight: bold;
}
.feedback .input ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__price {
  color: #222733;
  font-size: 18px;
  font-weight: 400;
  width: 23.72%;
}
.feedback__price > span {
  display: inline-block;
  opacity: 40%;
  margin-bottom: 20px;
}

.feedback__price-first-block {
  margin-bottom: 28px;
}
.feedback__price-first-block p.price-of-event {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 12px;
}
.feedback__price-first-block span {
  opacity: 80%;
}

.feedback__price-second-block li {
  color: rgba(34, 39, 51, 0.4);
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feedback__price-second-block li:not(:last-child) {
  border-bottom: 1px solid rgba(34, 39, 51, 0.12);
}
.feedback__price-second-block span {
  color: #222733;
}

#price-of-event {
  opacity: 1;
}

.footer {
  padding: 49px 0;
}
.footer__nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__links {
  gap: 40px;
  font-size: 14px;
  font-weight: 400;
  opacity: 80%;
}
.footer__images {
  gap: 20px;
}