.feedback {
    padding: 140px 0 160px 0;
    background-color: #F3F5F8;

    &__form-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .feedback-form-first-block {
            // max-width: 780px;
            width: 66.1%;
        }
    }

    &__event-format {
        margin-bottom: 20px;

        >p {
            font-size: 20px;
            font-weight: 300;
            color: $font-color;
            opacity: 80%;
    
            margin-bottom: 20px;
        }
        }
    &__event-format-buttons{
        display: flex;
        gap: 16px;
        flex-wrap: wrap;

        button {
        font-weight: 400;
        font-size: 20px;

        flex-shrink: 0;

        padding: 14px 24px;
        border-radius: 50px;

        background-color: #545E761F;
        transition: all .1s ease-in-out;
    }
        button.button--secondary {
            background-color: $secondary-color;
            color: #fff;
        }
    
        button:hover{
            background-color: $secondary-color;
            color: #fff;
        }
        button:active {
            background-color: lighten($font-color, 20%)
        }
       
    } 

    

   
    .feedback_button{
        @extend %flex;
        gap: 44px;

        p {
            font-size: 16px;
            font-weight: 300;
            line-height: 30px;
            color: $font-color;
            opacity: 50%;
        }
        a {
            text-decoration: underline;
            text-underline-offset: 4px;
        }
    }

    &__btns {
    }
    &__form {
        input[type=text]::placeholder{
            color: #000;
        }

        .input {
            margin-bottom: 24px;
        }
    }
        
    &__form-title {
        font-size: 40px;
        font-weight: 700;
        color: $font-color;
        
        margin-bottom: 44px;
    }
   
    .range-input {
        position: relative;
        margin: 0;

        &__wrapper {
            margin-bottom: 24px;

            &__line{
                @extend %flex;
                justify-content: space-between;
                margin-top: 11px;

                font-size: 18px;
                font-weight: 400;
                color: $font-color;
                opacity: 40%;

            }
            
        }

        input[type=range] {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-radius: 12px;
            appearance: none;
            padding: 0 3px;
        }
        input[type=range]::-webkit-slider-thumb{
            background-color: #545E76;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            appearance: none;
            margin-top: -8px;
        }
        input::-webkit-slider-runnable-track{
            height: 5px;
            background-color: #ffffff;
            border-radius: 12px;
            box-shadow: inset 0 0 5px rgb(216, 216, 216);
        }
        input::-webkit-range-progress {
            appearance: none;
            background-color: #545E76;
        }
    }
    .input {
        input[date], select{
            font-weight: bold;
        }
        
        ul{
            display: flex;
            justify-content: space-between;
        }
    }
}
.feedback__price {
    color: $font-color;
    font-size: 18px;
    font-weight: 400;

    // max-width: 280px;
    // width: 100%;
    width: 23.72%;

    >span{
        display: inline-block;
        opacity: 40%;
        margin-bottom: 20px;
    }
}    
.feedback__price-first-block {
    margin-bottom: 28px;

    p.price-of-event {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 12px;
    }
    span {
        opacity: 80%;
    }
}
.feedback__price-second-block{
    li {
        color: rgba(34, 39, 51, 0.4);
        padding: 16px 0;

        display: flex;
        justify-content: space-between;
    }
    li:not(:last-child){
        border-bottom: 1px solid rgba(34, 39, 51, 0.12);
    }
    span{
        color: $font-color;
    }

    
}

#price-of-event {
    opacity: 1;
}