.services{
    padding-top: 120px;
    margin-bottom: 370px;
    position: relative;
    height: 676px;
    @include bg-image('../img/services-bg.jpg', #121925);

    .title {
        position: absolute;
        top: 0;
        left: 0;
    }

    h2 {
        margin-bottom: 20px ;
    }
    &__wrapper {
        position: relative;

        display: flex;
        justify-content: flex-end;

        margin-bottom: 120px;
    }
    &__description{
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 2.4rem;
        text-align: left;
        color: #fff;
    }

    &__text {
        max-width: 870px;
    }


    .swiper {
        position: relative;
        background-color: #fff;
        bottom: -25%;
    
        box-shadow: 0 24px 60px 1px rgba(0, 0, 0, 0.12);
        max-width: 1180px;
        width: 100%;
    
    .swiper-slide{
        position: static;
    }

    .swiper-wrapper{
        position: static;
        display: flex;
        align-items: center;
        max-width: 1180px;
        width: 100%;
        justify-content: space-between;

    }
    }
}
.drinks{
    display: flex;
    align-items: center;
    max-width: 1180px;
    width: 100%;
    justify-content: space-between;

    .drinks__image{
        min-width: 502px;
        width: 100%;
        max-width: 700px;
        max-height: 496px;
    }
    .drinks__description {
        padding: 20px 68px;
        max-width: 344px;
        box-sizing: content-box;
    }
    .drinks__title {
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 4.2rem;
        
        margin-bottom: 16px;
    }
    .drinks__cost {
        font-size: 20px;
        font-weight: 300;
        line-height: 20px;
        color: lighten(#000, 60%);

        margin-bottom: 48px;
    }
    .drinks__text {
        font-weight: 300;
        line-height: 22px;
        text-align: left;
        font-size: 14px;

        margin-bottom: 32px;
    }
}

.drinks__buttons {
    position: absolute;
    bottom: 80px;
    left: 68px;
    

}
.swiper-button-prev{
    margin-right: 8px;
}
.swiper-button-prev, .swiper-button-next {
    position: static;
    display: inline-block;
    height: auto;
    width: auto;
}
.swiper-button-next::after, .swiper-button-prev::after {
    display: none;
}

